.cover__link {
  text-decoration: none;
  max-width: 1184px;
  min-height: 740px;
  display: block;
}

@media (max-width: 1200px) {
  .cover__link {
    max-width: 1024px;
    min-height: 640px;
  }
}

@media (max-width: 1023px) {
  .cover__link {
    max-width: 768px;
    min-height: 480px;
  }
}

@media (max-width: 767px) {
  .cover__link {
    max-width: 320px;
    min-height: 200px;
  }
}
