.places {
  margin: 92px auto;
  max-width: 984px;
}

@media (max-width: 1200px) {
  .places {
    max-width: 928px;
  }
}

@media (max-width: 1000px) {
  .places {
    max-width: 720px;
  }
}

@media (max-width: 700px) {
  .places {
    margin: 64px auto;
    max-width: 320px;
  }
}
