.place__prefix {
  text-transform: uppercase;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 2px;
  color: #aaaaaa;
}

@media (max-width: 700px) {
  .place__prefix {
    margin-top: 0;
  }
}
