.cover__overlay {
  background-color: rgba(42, 44, 47, 0.3);
  max-width: 1184px;
  max-height: 740px;
}

.cover__overlay:hover {
  background-color: rgba(42, 44, 47, 0.8);
}
 /*не понял комментарий - при наведении блок затеняется*/
