.cover__overlay {
  background-color: rgba(42, 44, 47, 0.3);
  max-width: 1184px;
  min-height: 740px;
}

.cover__overlay:hover {
  background-color: rgba(42, 44, 47, 0.8);
}

@media (max-width: 1200px) {
  .cover__overlay {
    max-width: 1024px;
    min-height: 640px;
  }
}

@media (max-width: 1023px) {
  .cover__overlay {
    max-width: 768px;
    min-height: 480px;
  }
}

@media (max-width: 767px) {
  .cover__overlay {
    max-width: 320px;
    min-height: 200px;
  }
}
